.card-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
    to left,
    rgb(226, 228, 130) 0%,
    rgb(178, 230, 148) 100%);
    border: 4px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
} 

.card-container:hover{
    transform: scale(1.05);
}
